:root {
    --primary: #f8f6f1;
    --accent: #68d2d9;
    --secondary: #35405f;
}

.darkMode {
    --primary: #413d3c;
    --accent: #1f8997;
    --secondary: #ebebe3;
}

html,
body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

div {
    display: block;
}

.main {
    flex: 1;
    margin-left: 40px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

content h2 {
    margin-top: 30px;
}

.all {
    display: grid;
    grid-template-rows: auto 20%;
    grid-template-columns: 120px auto 120px;
}

.nav {
    flex: 1;
    display: flex;
    gap: 40px;
    flex-direction: column;
    grid-row: 1 2;
    grid-column: 1 1;
}

#menuButton {
    flex: 1 100;
    top: 30px;
    background: var(--accent);
    position: relative;
    display: none;
}

#menuButton span {
    transform: rotate(90);
}

#menuButton:hover {
    background: var(--primary);
    transition: 0.2s ease-in-out;
}

#menuButton span {
    width: 30px;
    height: 2px;
    background: var(--secondary);
}

.visible{
    display: block;
}

h1 {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#navbar {
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 120px;
    height: 100vh;
    position: relative;
    margin-bottom: 1px;
    background-color: var(--accent);
    flex: 6 100;
    font-weight: bold;
    grid-column: 1 2;
}

li {
    background-color: var(--accent);
    color: var(--accent);
}

li a {
    display: block;
    color: var(--secondary);
    background-color: var(--accent);
    height: 130px;
    width: 80px;
    padding-left: 20px;
    text-decoration: none;
}

li a:hover {
    transition: 0.3s ease;
    background-color: var(--primary);
    color: var(--secondary);
    margin-left: 20px;
}


li a.active {
    background-color: var(--primary);
    color:var(--accent);
    margin-left: 20px;
}

li a img:hover {
    transition: 0.3s ease;
    filter: invert(88%);
}

canvas {
    color: #000;
}

header {
    display: flex;
    max-height: 10%;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    width: 100%;
    flex: auto;
}

footer {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary);
    color: var(--secondary);
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

address a {
    color: var(--accent);
}

svg {
    scale: 50%;
    color: var(--secondary);
}

address {
    margin-top: 20px;
    margin-bottom: 20px;

}

.iconName {
    margin-top: 20px;
    margin-bottom: 20px;
}

#darkmode {
    position: absolute;
    right: 25px;
    top: 25px;
}

@media screen and (max-width: 800px) {
    .all {
        display: grid;
        grid-template-columns: 80px auto 80px;
    }

    #menuButton {
        position: absolute;
        top: 20px;
        margin: 20px;
        display: block;
    }

    ul {
        display: none;
    }
}
@media screen and (min-width: 1180px) {
    img {
        margin-left: auto;
        margin-right: auto;
    }
}