:root {
    --primary: #f7f2e6;
    --accent: #68d2d9;
    --secondary: #35405f;
}


html,
body {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 0.95em;
}

div {
    display: block;
}

.main {
    flex: 1;
    margin-left: 40px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.all {
    display: grid;
    grid-template-rows: auto 20%;
    grid-template-columns: 120px auto 120px;
}

.nav {
    flex: 1;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.menuButton {
    flex: 1 100;
    top: 30px;
    background: var(--accent);
    position: relative;
}

.menuButton span {
    transform: rotate(90);
}

.menuButton:hover {
    background: var(--primary);
    transition: 0.2s ease-in-out;
}

.menuButton span {
    width: 30px;
    height: 2px;
    background: var(--secondary);
}

h1 {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 120px;
    height: 100vh;
    position: relative;
    margin-bottom: 1px;
    background-color: #68d2d9;
    flex: 6 100;
    font-weight: bold;
}

li {
    background-color: #68d2d9;
    color: #68d2d9;
}

li a {
    display: block;
    color: #000000;
    background-color: #68d2d9;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    transition: 0.3s ease;
    background-color: var(--primary);
    color: var(--secondary);
}

li a.active {
    background-color: var(--primary);
    color:var(--accent);
}

canvas {
    color: #000;
}

header {
    display: flex;
    max-height: 10%;
    justify-content: center;
    display: flex;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    flex: auto;
}

footer {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary);
    grid-row: 2;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

svg {
    scale: 50%;
    color: var(--secondary);
}

address {
    margin-top: 20px;
    margin-bottom: 20px;

}

.iconName {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .all {
        display: grid;
        grid-template-columns: 80px auto 80px;
    }

    .menuButton {
        position: absolute;
        top: 20px;
        margin: 20px;
    }

    ul {
        display: none;
    }
}
@media screen and (min-width: 1180px) {
    img {
        width: clamp(100px, 50%, 500px);
        
        margin-left: auto;
        margin-right: auto;
    }
}